# Node & environment
node_modules
.DS_Store

# Production build
/build
/.next/
dist/
vercel/

# Env files
.env
.env.*
!.env.example

# IDEs and logs
.vscode/
.idea/

# lockfiles (do not ignore)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Vite config backups
vite.config.*.s.*
